body{
    margin:0;
}

.jumbotron{
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1524785281156-c3c68d1e03c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom:0;
    height:100%; 
}
#name{
    color:whitesmoke;
    text-shadow: 2px 2px 2px #0a0a0a;
    font-size:4vw;
    font-family: 'notable', 'sans-serif';
}

#title{
    justify-content: center;
    color:whitesmoke;
    text-shadow: 2px 2px 2px #0a0a0a;
    font-family: 'Parisienne', cursive;
    font-size: 2vw;
    text-align:center;
    margin:auto;
    padding: 1vw;
}
.projects{
    justify-content: center;
    text-align: center;
    background-color:#B29BFF;
    margin: 0;
    padding: 3vw;
    font-size: .75vw;
    font-family: 'Sansita', 'sans-serif';
}

.display{
    font-size: 2vw;
    font-family: 'Sansita', 'sans-serif'; 
}


.card-text{
    font-size: .75vw;
    font-family: 'Sansita', 'sans-serif';
}

.navbar-container{
    height: auto;
    background-color:#5261FE;
    color: whitesmoke;
    font-family: 'Sansita', 'sans-serif';
}

.container{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}
.btn{
    background-color:#B29BFF;
    font-family: 'Sansita', 'sans-serif';
    color: whitesmoke;
}

.about{
    background-color: #A6E8F7;
    margin:auto;
    padding: 3vw;
    font-family: 'Sansita', 'sans-serif';
}

.contact{
    background-color: #A6E8F7;
    margin-bottom:0;
    padding: 3vw;
}

.img-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    padding: 1vw;
}

.footer {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    text-shadow: 1px 1px 1px #0a0a0a;
    background-color:#5261FE;
    background-size: cover;
    padding: 1vw;
    font-family: 'Sansita', 'sans-serif';
}

