body{
    margin:0;
}

.jumbotron{
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1524785281156-c3c68d1e03c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);  
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vw;
    margin-bottom:0;
}

#name{
    justify-content: center;
    align-items:center;
    height:100%;
    color:whitesmoke;
    text-shadow: 2px 2px 2px #0a0a0a;
    font-size:6vw;
    font-family: 'notable', 'sans-serif';
    padding: 3vw; 
}

#title{
    justify-content: center;
    height:100%;
    color:whitesmoke;
    text-shadow: 2px 2px 2px #0a0a0a;
    font-family: 'Parisienne', cursive;
    font-size:2.2vw;
    max-width: 75%;
    text-align:center;
    margin:auto;
}
.projects{
    justify-content: center;
    text-align: center;
    background-color:#B29BFF;
    margin: 0;
    padding: 3vw;
}

.navbar-container{
    height: auto;
    background-color:#5261FE;
    font-size:1rem;
    color: whitesmoke;
}

.container-fluid {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}
.btn{
    background-color:#5261FE;  
}

.about{
    background-color: #A6E8F7;
    margin:auto;
    padding: 3vw;
}

.contact{
    background-color: #A6E8F7;
    padding: 3vw;
}
.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.footer {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    text-shadow: 2px 2px 2px #0a0a0a;
    background-image: url(https://images.unsplash.com/photo-1524785281156-c3c68d1e03c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw;
}